<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
<div class="footer">
<a href="http://www.redhat.com">
<img class="powered" src="/images/redhat_powered.png" />
</a>
<a href="jerome@sheed.com">
<img class="footer-icon" src="/images/email_46.png" />
</a>
<a href="https://twitter.com/jsheed_sa">
<img class="footer-icon" src="/images/twitter_46.png" />
</a>
<a href="https://www.linkedin.com/in/jeromesheed">
<img class="footer-icon" src="/images/linkedin_46.png" />
</a>
<a href="https://centos.org">
<img class="footer-icon" src="/images/centos_powered.jpeg" />
</a>
</div>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
